/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'sofia', sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small Screens */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Meduim Screens */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large screens */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.dark-mode header,
.dark-mode .landing,
.dark-mode .footer {
  background-color: black;
  color: white;
}

.dark-mode .sale {
  color: black;
}

/* End Global Rules */
/* Start Header */


header {
  background-color: #c6b8b8;
  padding: 20px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

header .links {
  position: relative;
}

header .links:hover .icons span:nth-child(2) {
  width: 100%;
}

header .links .icons {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

header .links .icons span {
  background-color: #333;
  margin-bottom: 5px;
}

header .links .icons span:first-child {
  height: 3px;
  width: 100%;
}

header .links .icons span:nth-child(2) {
  height: 3px;
  width: 60%;
  transition: 0.3s;
}

header .links .icons span:last-child {
  height: 3px;
  width: 100%;
}

header .links ul {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}

header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}

header .links:hover ul {
  display: block;
}

header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

header .links ul li a:hover {
  padding-left: 25px;
}

header .links ul li:not(:last-child) {
  border-bottom: 1px solid #333;
}

.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode .links .icons span {
  background-color: white;
  color: black;
}

#dark {
  border: 2px solid black;
  border-radius: 5px;
  padding: 3px;
  background-color: #000;
  color: white;
}

.dark-mode #dark {
  background-color: white;
  color: #000;
}

/* End Header */
/* Start Landing */
.landing {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #dcd7d7;
}

.landing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 35px;
}

.landing .container .landing-img {
  position: relative;
  overflow: hidden;
}

.landing .container .landing-img .sale {
  display: none;
  background-color: white;
  padding: 20px;
  margin: 20px;
  text-align: center;
  border-radius: 25px;
}

.landing .container .landing-img:hover .sale {
  display: block;
}

.landing .container .landing-img img {
  width: 100%;
  border-radius: 15px;
}

.landing .container .landing-text {
  text-align: center;
}

.landing .container .landing-text h1 {
  color: rgb(17, 16, 97);
  text-align: center;
  padding: 20px;
  margin: 20px;
  font-size: 50px;
}

.landing .container .landing-text p {
  line-height: 2;
  text-align: center;
  font-size: 25px;
  padding-bottom: 20px;
  color: rgb(17, 16, 97);
}

.landing .container .landing-text .sign-in,
.sign-up {
  text-align: center;
  padding: 10px 50px;
  color: rgb(17, 16, 97);
}

/* End Landing */
/* Start Footer */
.footer {
  background-color: #c6b8b8;
  padding: 11.5px;
  text-align: center;
}

/* End Footer */